
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:3%">
    <h2>Welcome  Index Page</h2>



    <!--Buraya partia view gelecek-->

 
    @Html.Action("_partialEmployeeList", "Home"); <!--PArtial Adı - Controller Adı-->


    <!--Buraya partia view gelecek-->



</div>



